<!DOCTYPE html>
<html lang="en">
  <%- include ("./header.ejs") %> 
<body>
    <div class="mt-5">
        <h1 class="text-center">404 Page Not Available</h1>
    </div>
    <div class="mt-5 text-center">
       <button class="btn btn-success"><a class="text-decoration-none" href="/"><h5 class="text-white">Home</h5> </a> </button> 
    </div>

</body>
<%- include ("./footer.ejs") %> 
</html>