<!DOCTYPE html>
<html lang="en">
  <%- include ("./header.ejs") %> 
<body>
    <div class="container">
        <h1 class="text-center p-3">About our Store</h1>
        <hr>
        <div class="row mt-5">
            <div class="col-md-6">
                <img src="../pizza.png" alt="" width="300">
            </div>
            <div class="col-md-6">
                <h1>PIZZA STORE</h1>
                <p>
                    A Pizza Maker prepares pizza for customers at restaurants and at stores that offer pizza for pickup and delivery. They also assist with operating all kitchen equipment, maintaining the kitchen, cooking other restaurant menu items and packaging food items.</p>
            </div>
        </div>

    </div>
</body>
<%- include ("./footer.ejs") %> 
</html>